body{
    background-color: aliceblue;
}
article{
    padding: 20px;
}
article img{
    width: 250px;
    float:left;
    margin-right: 20px; 
}
.clear-both{
    clear: both;
margin-bottom: 50px;
}
.contact{
    position: sticky;
    background-image: url(./images/whatsApp.png);
    width: 50px;
    height: 50px;
    background-size: contain;
    left: 85%;
    top: 10px;
}
.contact > a{
    display: block; 
    width: 100%;
    height: 100%;
}
.contact::before{
    position: absolute;
    content:"";
    border:15px solid transparent;
    border-top:   15px solid  rgb(107, 204, 107);
    top: 50px;
    left:10px
}